---
import { Image } from "astro:assets";
import { ArrowLeft, CircleAlert, CircleCheck } from "@lucide/astro";
import injustice from "../../assets/injustice.svg";
import Blurb from "../../components/blurb.astro";
import Default from "../../layouts/default.astro";
---

<Default>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a
          href="/issues#what-will-i-tackle"
          class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Back to Issues</a
        >
        <h1>Criminal Injustice</h1>
        <p>
          Denver Police secretly launched a "Drone as First Responder" program
          without city approval, broadened taser use to allow deployment against
          non-aggressive individuals, allowed misconduct to be handled
          informally by a supervisor, and reduced discipline for misconduct to
          simple classroom training. <strong
            >All within the space of 1 year.</strong
          ><br /><br />We are on a collision course between law enforcement and
          our everyday human rights. Just like our laws, law enforcement should
          be by the people and for the people. Not against the people.
        </p>
      </div>
      <Image
        src={injustice}
        alt="A drawing of a head in a cage"
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Accountability</h1>
      <p class="max-w-md mx-auto mb-16">
        The police investigating the police is like you auditing your own taxes.
        It doesn't work. Denver Police needs to be held accountable by outside
        third-parties.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problem" Icon={CircleAlert}
          >Police misconduct is handled informally by a supervisor. Classroom
          training is utilized instead of suspensions or reprimands.</Blurb
        >
        <Blurb title="Solution" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>
              • Trigger a citizen-ran investigative body when a police officer
              is accused of misconduct.
            </li>
            <li>
              • The citizen-ran body then determines the discipline for the
              officer, if found guilty, from classroom training all the way up
              to termination.
            </li>
          </ul></Blurb
        >
      </div>
    </section>
    <section>
      <h1 class="text-center mb-16!">Non-Violent Jailing</h1>
      <p class="max-w-md mx-auto mb-16">
        Policing has roots and connections in the slave catchers of antebellum
        South. <strong>Non-violent jailing exists, today, as a pipeline</strong> for
        feeding undesirables to for-profit prisons for cheap labor and extortion.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problem" Icon={CircleAlert}
          >Most people in jail are there for non-violent offenses, including
          traffic violations, public disorderliness, drug charges, property
          damage, and mental health episodes.</Blurb
        >
        <Blurb title="Solution" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>
              • Expand the STAR (Support Team Assisted Response) program in
              Denver to a 24-hour program.
            </li>
            <li>
              • Change the default 911 Operator response to sending STAR, only
              escalating to a traditional police response if there is an
              expectation of violence.
            </li>
            <li>
              • Reduce the default punishments for many non-violent offenses to
              citations instead of jail time.
            </li>
            <li>
              • Expand usage of house arrest, work release, rehabilitation &
              treatment, and probation as alternatives to jail for repeat
              offenders.
            </li>
          </ul></Blurb
        >
      </div>
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Fines, Fees, & Tribulations</h1>
      <p class="max-w-md mx-auto mb-16">
        Monetary fines and fees are often issued to the very populations who can
        least afford them. They also influence the motivations of a police force
        and can skew them away from their intended focus: public safety.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problem" Icon={CircleAlert}
          >The penalties for many low-level offenses are monetary, perverting
          the point of restorative justice by pushing the perpetrator even
          further into desperation.</Blurb
        >
        <Blurb title="Solution" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>
              • Change the default penalties for many low-level offenses to
              community service and mandatory trainings.
            </li>
          </ul>
        </Blurb>
      </div>
    </section>
  </main>
</Default>
