---
import { Image } from "astro:assets";
import { ArrowLeft, CircleAlert, CircleCheck } from "@lucide/astro";
import homelessness from "../../assets/homelessness.svg";
import Blurb from "../../components/blurb.astro";
import Footer from "../../components/footer.astro";
import Input from "../../components/input.astro";
import Textarea from "../../components/textarea.astro";
import Default from "../../layouts/default.astro";
---

<Default>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a
          href="/issues#what-will-i-tackle"
          class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Back to Issues</a
        >
        <h1>Homelessness</h1>
        <p>
          Since my early twenties, I've worked with our neighbors experiencing
          homelessness. It's time to set aside the misconceptions and
          unjustified fears. <strong
            >The number of unhoused individuals in Denver has nearly doubled
            since 2019.</strong
          > Let's put a roof over every Denverite's head.
        </p>
        <a class="btn btn-primary mt-8" href="#get-involved">Get Involved</a>
      </div>
      <Image
        src={homelessness}
        alt="Drawing of woman alone"
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Housing-First</h1>
      <p class="max-w-md mx-auto mb-16">
        <strong>Housing-first policies work.</strong> Meaning, unhoused people don't
        need to address all of their problems before they can access housing.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problem" Icon={CircleAlert}
          >27,000 rental units sit empty in our fair city while 10,000 of our
          neighbors remain unhoused.</Blurb
        >
        <Blurb title="Solution" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>• Institute a tax on rental units left vacant in Denver.</li>
            <li>
              • Revenue from this tax goes directly towards providing free
              housing.
            </li>
            <li>
              • Require a flat percentage of low-income housing in Denver.
            </li>
            <li>
              • Increase the number of shelters in Denver and reduce their
              requirements.
            </li>
          </ul></Blurb
        >
      </div>
    </section>
    <section>
      <h1 class="text-center mb-16!">End Sweeps</h1>
      <p class="max-w-md mx-auto mb-16">
        A study by the Journal of Urban Health found that sweeps of unhoused
        encampments in Denver had no effect on reducing crime.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problem" Icon={CircleAlert}
          >Our unhoused neighbors face discriminatory misconceptions and
          inhumane sweeps from the city. These sweeps solve no problems. They
          only create them.</Blurb
        >
        <Blurb title="Solution" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>• Ban unhoused encampment sweeps in Denver.</li>
            <li>
              • Focus efforts on providing housing and services to those in
              camps.
            </li>
          </ul></Blurb
        >
      </div>
    </section>
    <section
      id="get-involved"
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Get involved</h1>
      <div class="flex flex-wrap items-center justify-center gap-16">
        <form
          class="w-xs flex flex-col items-end text-black!"
          action="https://api.web3forms.com/submit"
          method="POST"
        >
          <input
            type="hidden"
            name="access_key"
            value="a5af05ef-33e3-424d-b4bd-2f900039335b"
          />
          <Input name="name" label="Name" placeholder="Jane Doe" required />
          <Input
            type="email"
            name="email"
            label="Email"
            placeholder="jane.doe@gmail.com"
            required
          />
          <Textarea
            name="message"
            label="Message"
            placeholder="Sign me up!"
            required
          />
          <button type="submit" class="btn btn-accent mt-4">Send</button>
        </form>
        <Blurb title="Kits for the Unhoused"
          >We are making survival kits for the unhoused at Cameron Church on
          July 12th at 11am. Join us in improving the lives of our unhoused
          neighbors that we see every day! Send me a message, and I'll reply
          with the details.</Blurb
        >
      </div>
    </section>
  </main>
  <Footer />
</Default>
