---
import { CircleAlert, CircleCheck } from "@lucide/astro";
import houses from "../../assets/houses.svg";
import Blurb from "../../components/blurb.astro";
import Footer from "../../components/footer.astro";
import Input from "../../components/input.astro";
import Textarea from "../../components/textarea.astro";
import Default from "../../layouts/default.astro";
---

<Default>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <h1>Housing</h1>
        <p>
          Housing is a <strong>human right,</strong> not a commodity. We face the
          daunting issues of affordability and homelessness in Denver.
        </p>
        <a class="btn btn-primary mt-8" href="#get-involved">Get Involved</a>
      </div>
      <img src={houses.src} alt="Drawing of houses" class="w-full max-w-md" />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Affordability</h1>
      <p class="max-w-md mx-auto mb-16">
        In the past 10 years, average rent shot up by 45%, but the median
        household income in Denver only rose by 28%. Meaning, rent increased at
        almost twice the rate as income. This <em>is</em> a crisis.
      </p>
      <div class="flex flex-col gap-16">
        <div class="flex gap-8 justify-center">
          <Blurb title="Problem" Icon={CircleAlert}
            >Companies from California and China are buying up neighborhood
            homes only to flip or rent them at exorbitant rates. They're also
            building giant, luxury apartment high-rises that don't benefit the
            average Denverite.</Blurb
          >
          <Blurb title="Solution" Icon={CircleCheck}
            >Solving the Denver housing crisis starts with Denver ownership of
            homes:<ul class="mt-2">
              <li>• Ban companies from buying single family homes.</li>
              <li>
                • Stabilize rent for single family homes already owned by
                companies.
              </li>
              <li>
                • Require out-of-state companies to build affordable apartment
                housing.
              </li>
              <li>
                • Stabilize rent for apartments already owned by out-of-state
                companies.
              </li>
            </ul></Blurb
          >
        </div>
        <div class="flex gap-8 justify-center">
          <Blurb title="Problem" Icon={CircleAlert}
            >Upwards of 77% of Denver's residential areas' prohibit the most
            affordable types of homes. Apartments, condos and townhomes are
            widely forbidden. Exclusionary zoning has racist origins.</Blurb
          >
          <Blurb title="Solution" Icon={CircleCheck}
            >Change the zoning laws to allow for more apartment units, and
            introduce new inclusionary zoning policies.</Blurb
          >
        </div>
      </div>
    </section>
    <section>
      <h1 class="text-center mb-16!">Homelessness</h1>
      <p class="max-w-md mx-auto mb-16">
        The number of unhoused individuals in Denver has <strong
          >nearly doubled</strong
        > since 2019, and 1 in 5 of those individuals are unsheltered, with no protection
        from the elements.
      </p>
      <div class="flex flex-col gap-16">
        <div class="flex gap-8 justify-center">
          <Blurb title="Problem" Icon={CircleAlert}
            >27,000 rental units sit empty in our fair city while 10,000 of our
            neighbors remain unhoused. These neighbors face discriminatory
            misconceptions and inhumane sweeps from they city. Yet, a study by
            the Journal of Urban Health found that sweeps of unhoused
            encampments in Denver had no effect on reducing crime.</Blurb
          >
          <Blurb title="Solution" Icon={CircleCheck}
            >Housing-first policies work. Meaning, unhoused people don't need to
            address all of their problems before they can access housing.<ul
              class="mt-2"
            >
              <li>• Institute a tax on rental units left vacant in Denver.</li>
              <li>
                • Revenue from this tax goes directly towards providing free
                housing.
              </li>
              <li>
                • Require a flat percentage of low-income housing in Denver.
              </li>
              <li>
                • Increase the number of shelters in Denver and reduce their
                requirements.
              </li>
            </ul></Blurb
          >
        </div>
        <div class="flex gap-8 justify-center">
          <Blurb title="Problem" Icon={CircleAlert}
            >“Anyone who has ever struggled with poverty knows how extremely
            expensive it is to be poor.” – James Baldwin<br /><br />Fines and
            penalties punishing the poor</Blurb
          >
          <Blurb title="Solution" Icon={CircleCheck}
            >Housing-first policies work. Meaning, unhoused people don't need to
            address all of their problems before they can access housing.<ul
              class="mt-2"
            >
              <li>• Institute a tax on rental units left vacant in Denver.</li>
              <li>
                • Revenue from this tax goes directly towards providing free
                housing.
              </li>
              <li>
                • Require a flat percentage of low-income housing in Denver.
              </li>
              <li>
                • Increase the number of shelters in Denver and reduce their
                requirements.
              </li>
            </ul></Blurb
          >
        </div>
      </div>
    </section>
    <section
      id="get-involved"
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Get involved</h1>
      <div class="flex flex-wrap items-center justify-center gap-16">
        <form
          class="w-xs flex flex-col items-end text-black!"
          action="https://api.web3forms.com/submit"
          method="POST"
        >
          <input
            type="hidden"
            name="access_key"
            value="a5af05ef-33e3-424d-b4bd-2f900039335b"
          />
          <Input name="name" label="Name" placeholder="Jane Doe" required />
          <Input
            type="email"
            name="email"
            label="Email"
            placeholder="jane.doe@gmail.com"
            required
          />
          <Textarea
            name="message"
            label="Message"
            placeholder="Sign me up!"
            required
          />
          <button type="submit" class="btn btn-accent mt-4">Send</button>
        </form>
        <Blurb title="Kits for the Unhoused"
          >We are making survival kits for the unhoused at Cameron Church on
          July 12th at 11am. Join us in improving the lives of our unhoused
          neighbors that we see every day! Send me a message, and I'll reply
          with the details.</Blurb
        >
      </div>
    </section>
  </main>
  <Footer />
</Default>
