---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { ArrowLeft } from "@lucide/astro";
import { marked } from "marked";
import affordability from "../../../assets/affordability.svg";
import bigTech from "../../../assets/big-tech.svg";
import foodSecurity from "../../../assets/food-security.svg";
import homelessness from "../../../assets/homelessness.svg";
import housingCrisis from "../../../assets/housing-crisis.svg";
import injustice from "../../../assets/injustice.svg";
import ProblemSolution from "../../../components/problem-solution-es.astro";
import Espanol from "../../../layouts/espanol.astro";

export async function getStaticPaths() {
  const issues = await getCollection("issues");
  return issues.map((issue) => ({
    params: { id: issue.data.slug },
    props: { issue },
  }));
}

const { issue } = Astro.props;
const intro = marked.parse(issue.data?.intro_es);
const image = {
  affordability,
  "big-tech": bigTech,
  "food-security": foodSecurity,
  homelessness,
  "housing-crisis": housingCrisis,
  "criminal-injustice": injustice,
}[issue.data.slug];
const imageAlt = {
  affordability: "Dibujo de una trampa con dinero como cebo",
  "big-tech": "Dibujo de una persona siendo absorbida por dispositivos",
  "food-security": "Un recipiente de comida lleno de dinero",
  homelessness: "Dibujo de una mujer sola",
  "housing-crisis": "Dibujo de casas",
  "criminal-injustice": "Un dibujo de una cabeza en una jaula",
}[issue.data.slug];
---

<Espanol>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a
          href="/es/issues#what-will-i-tackle"
          class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Volver a los Retos</a
        >
        <h1>{issue.data.title_es}</h1>
        <Fragment set:html={intro} />
      </div>
      <Image src={image || ""} alt={imageAlt || null} class="w-full max-w-md" />
    </section>
    {
      issue.data.subIssues?.map(async (subIssue, index) => {
        const subIssueSummary = marked.parse(subIssue.summary_es);
        return (
          <section
            key={subIssue.title_es}
            class={
              index === 0
                ? "w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
                : index === 2
                  ? "w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
                  : undefined
            }
          >
            <h1 class="text-center mb-16!">{subIssue.title_es}</h1>
            <div class="max-w-md mx-auto mb-16" set:html={subIssueSummary} />
            {subIssue.problemsAndSolutions.map(
              async (problemAndSolution, index) => {
                const problem = marked.parse(problemAndSolution.problem_es);
                const solution = marked.parse(problemAndSolution.solution_es);
                return (
                  <ProblemSolution key={`ProblemSolution-${index + 1}`}>
                    <Fragment slot="problem" set:html={problem} />
                    <Fragment slot="solution" set:html={solution} />
                  </ProblemSolution>
                );
              },
            )}
          </section>
        );
      })
    }
  </main>
</Espanol>
