---
import { ArrowLeft, CircleAlert, CircleCheck } from "@lucide/astro";
import affordability from "../../../assets/affordability.svg";
import Blurb from "../../../components/blurb.astro";
import Footer from "../../../components/footer-espanol.astro";
import Espanol from "../../../layouts/espanol.astro";
---

<Espanol>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a href="/es/issues#retos" class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Volver a los Retos</a
        >
        <h1>Asequibilidad</h1>
        <p>
          “Todo aquel que alguna vez ha luchado contra la pobreza sabe lo
          extremadamente <strong>caro</strong> que es ser pobre.” – James Baldwin<br
          /><br />Estamos regresando a un sistema de clases estratificado: los
          ricos contra los que luchan. Todos sabemos que hay suficiente dinero,
          comida, ropa y vivienda para todos. ¿Por qué, entonces, las familias
          comunes deben luchar para conseguir precisamente esas cosas?
        </p>
      </div>
      <img
        src={affordability.src}
        alt="Dibujo de una trampa con dinero como cebo"
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Cuidado Infantil</h1>
      <p class="max-w-md mx-auto mb-16">
        El 'libre mercado' no nos ha proporcionado un cuidado infantil adecuado.
        El costo de tener un bebé en guardería en Denver es, en promedio, <strong
          >$1,500 al mes.</strong
        >
        {" "}Otro alquiler. Se ha convertido en una de las áreas metropolitanas
        más caras para criar a un hijo en los EE. UU.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problema" Icon={CircleAlert}
          >Estudio tras estudio ha demostrado que los niños que asisten al Pre-K
          tienen mejores resultados que los que no lo hacen, incluso más
          adelante en la vida. Sin embargo, el costo suele ser prohibitivo, lo
          que lleva a las familias a mantener a los pequeños en casa.<br /><br
          />Colorado ofrece 15 horas gratuitas de Pre-K, a partir de los 4 años.
          Esto está bien, pero no es suficiente para permitir que los cuidadores
          regresen a la fuerza laboral. También tiene un impacto menor en los
          resultados de los niños.</Blurb
        >
        <Blurb title="Solución" Icon={CircleCheck}
          >Washington DC implementó el Pre-K universal para toda la ciudad, a
          partir de los 3 años. Ha sido un éxito rotundo y ha incentivado a las
          familias a quedarse en la ciudad.<ul class="mt-2">
            <li>
              • Crear un programa de Pre-K universal en las Escuelas Públicas de
              Denver para complementar el existente de Colorado.
            </li>
            <li>• Ampliar las horas gratuitas de 15 a 35 por semana.</li>
            <li>• Comenzar con niños de 3 años, en lugar de 4.</li>
          </ul></Blurb
        >
      </div>
    </section>
    <section>
      <h1 class="text-center mb-16!">
        Servicios Públicos de Propiedad Colectiva
      </h1>
      <p class="max-w-md mx-auto mb-16">
        La electricidad, el gas, el internet... son requisitos de la vida
        moderna. Son servicios básicos. No son mercancías con las que comerciar.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problema" Icon={CircleAlert}
          >Empresas como Xcel y Xfinity utilizan prácticas y modelos de precios
          engañosos para estafar a sus clientes el dinero que tanto les costó
          ganar.</Blurb
        >
        <Blurb title="Solución" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>
              • Crear una empresa de Energía de Denver como alternativa pública
              a las empresas energéticas privadas.
            </li>
            <li>
              • Crear una empresa de Banda Ancha de Denver para ofrecer internet
              a menor costo a todos los residentes.
            </li>
            <li>
              • Incorporar programas en ambas empresas de servicios públicos
              para ofrecer servicios a menor costo a las familias de bajos
              ingresos.
            </li>
            <li>
              • Introducir tarifas energéticas para clientes de gran consumo,
              como los centros de datos.
            </li>
          </ul></Blurb
        >
      </div>
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Transporte Confiable</h1>
      <p class="max-w-md mx-auto mb-16">
        Uno de los grandes beneficios de vivir en una ciudad grande es la
        posibilidad de utilizar el transporte público y prescindir de la
        necesidad de un carro. <strong
          >Le cuesta al estadounidense promedio $11,577 ser propietario de un
          vehículo.</strong
        > Pero, habiendo dependido personalmente del RTD, me ha fallado, he llegado
        tarde al trabajo e incluso me ha dejado varado.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problema" Icon={CircleAlert}
          >El RTD se ha vuelto inconsistente y costoso para usarlo como
          principal medio de transporte. Muchos han desistido de él. Sin
          embargo, el acceso a un transporte público confiable es un factor
          vital para la movilidad económica.</Blurb
        >
        <Blurb title="Solución" Icon={CircleCheck}
          >Trabajar con la Junta Directiva del RTD para:<ul class="mt-2">
            <li>
              • Restablecer la línea F, que tenía miles de pasajeros
              utilizándola cada día.
            </li>
            <li>
              • Introducir tarifas gratuitas para personas mayores y miembros
              del programa LiVE (bajos ingresos).
            </li>
            <li>
              • Corregir las inconsistencias en los horarios de llegada y salida
              de trenes y autobuses, ya que esto puede costarle el empleo a las
              personas.
            </li>
            <li>
              • Implementar un método sencillo para que los pasajeros reporten a
              los conductores que los ignoran, llegan tarde o no se presentan.
            </li>
          </ul>
        </Blurb>
      </div>
      <!-- <h1 class="text-center mb-16!">Junk Fees</h1>
      <p class="max-w-md mx-auto mb-16">
        Colorado's new law prohibiting deceptive pricing went into effect this
        January. That's great news, except it doesn't ban or reduce those junk
        fees. It just makes them visible.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problem" Icon={CircleAlert}
          >Companies charge exorbitant fees for a myriad of things that are <em
            >not</em
          > the product or service you are paying for.</Blurb
        >
        <Blurb title="Solution" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>• Ban ancillary fees for products and services in Denver.</li>
            <li>
              • Require companies to include any extras they want to charge in
              the original price for the product or service.
            </li>
          </ul></Blurb
        >
      </div> -->
    </section>
  </main>
  <Footer />
</Espanol>
