---
import { ArrowLeft, CircleAlert, CircleCheck } from "@lucide/astro";
import housingCrisis from "../../../assets/housing-crisis.svg";
import Blurb from "../../../components/blurb.astro";
import Footer from "../../../components/footer-espanol.astro";
import Espanol from "../../../layouts/espanol.astro";
---

<Espanol>
  <main class="h-full px-8 md:px-16 pt-8 md:pt-16 pb-32 flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a href="/es/issues#retos" class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Volver a los Retos</a
        >
        <h1>Crisis de Vivienda</h1>
        <p>
          La vivienda es un <strong>derecho humano, no una mercancía,</strong> tal
          como lo consagraron Eleanor Roosevelt y las Naciones Unidas. Una vivienda
          adecuada y asequible no debería ser algo accesible únicamente para los adinerados.
        </p>
      </div>
      <img
        src={housingCrisis.src}
        alt="Dibujo de casas"
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">La Renta Está Demasiado Alta</h1>
      <p class="max-w-md mx-auto mb-16">
        En los últimos 10 años, el alquiler promedio aumentó un 45%, pero el
        ingreso familiar medio en Denver solo subió un 28%. Es decir, <strong
          >la renta aumentó a casi el doble de la velocidad que los ingresos.</strong
        > Esto sí <em>es</em> una crisis.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problema" Icon={CircleAlert}
          >Empresas de California y China están comprando casas en los
          vecindarios solo para darles vuelta o alquilarlas a precios
          exorbitantes. También están construyendo enormes torres de
          apartamentos de lujo que no benefician al habitante promedio de
          Denver.</Blurb
        >
        <Blurb title="Solución" Icon={CircleCheck}
          >Resolver la crisis de vivienda de Denver comienza con que Denver sea
          dueña de sus viviendas:<ul class="mt-2">
            <li>• Prohibir a las empresas comprar viviendas unifamiliares.</li>
            <li>
              • Estabilizar la renta de las viviendas unifamiliares que ya son
              propiedad de empresas.
            </li>
            <li>
              • Exigir a las empresas foráneas que construyan viviendas en
              apartamentos asequibles.
            </li>
            <li>
              • Estabilizar la renta de los apartamentos que ya son propiedad de
              empresas foráneas.
            </li>
          </ul></Blurb
        >
      </div>
    </section>
    <section>
      <h1 class="text-center mb-16!">Zonificación Inclusiva</h1>
      <p class="max-w-md mx-auto mb-16">
        Políticas que exigen que un porcentaje de las nuevas viviendas sea <strong
          >asequible</strong
        > para personas con ingresos bajos a moderados.
      </p>
      <div class="flex gap-8 justify-center">
        <Blurb title="Problema" Icon={CircleAlert}
          >Más del 77% de las zonas residenciales de Denver prohíben los tipos
          de vivienda más asequibles. Los apartamentos, condominios y casas
          adosadas están ampliamente prohibidos. La zonificación excluyente
          tiene orígenes racistas.</Blurb
        >
        <Blurb title="Solución" Icon={CircleCheck}
          ><ul class="mt-2">
            <li>
              • Cambiar las leyes de zonificación de Denver para permitir
              viviendas multifamiliares en al menos el 50% de todas las zonas
              residenciales.
            </li>
            <li>
              • Exigir que el 30% de todas las nuevas viviendas construidas sean
              viviendas asequibles.
            </li>
          </ul></Blurb
        >
      </div>
    </section>
  </main>
  <Footer />
</Espanol>
